{% extends 'base.html.twig' %}

{% block title %}Recruitment{% endblock %}

{% block body %}
    <h1>Recruitment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recruitment.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ recruitment.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recruitment.description }}</td>
            </tr>
            <tr>
                <th>DateLimite</th>
                <td>{{ recruitment.dateLimite ? recruitment.dateLimite|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ recruitment.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recruitment_index') }}">back to list</a>

    <a href="{{ path('app_recruitment_edit', {'id': recruitment.id}) }}">edit</a>

    {{ include('recruitment/_delete_form.html.twig') }}
{% endblock %}
